* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c89666;
  padding: 15px 20px;
  color: black;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.nav-link:hover {
  color: #00c3ff;
}

.nav-link.active {
  border-bottom: 2px solid #00c3ff;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
   
}


.notification {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    height: 91%;
    padding: 10px;
  }

.nav-link {
  padding: 5px 10px;
  margin: 25px;
  color: black;
  font-size: 19px;
  display: inline-block;
  justify-content: space-between;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 10px;
  height: 40px;
  width: 200px;
}

.nav-links li a {
  margin: 5px;
  padding:10px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.nav-links.show {
    display: flex;
  }
.nav-links{
  display: none;
}
.nav-links.active{
  display: block;
} 
  .hamburger {
    display: block;
    color: black;
  }
 
  }